.main-container {
  width: 100%;
  display: flex;
  height: calc(100vh - 60px);
}

.main-container main {
  width: 100%;
  position: relative;
}

.main-container main ::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-top-left-radius: 30px;
}

.main-container main ::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #212529;
}
